@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');


body {
	background-color: whitesmoke;
	padding:0px;
	margin:0px;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
	}


@media (min-width:768px) {
header {
	background-color: #EEDEDA;
	color: black;
	padding-bottom: 50px;
	padding-top: 15px;
	height: 30px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 15px;
	text-align: center;
	}
nav {
	float: left;
	width:  20%;
	height: 1000px;
	background-color: #EEDEDA;
	/*padding-bottom: 20px;
	padding-left: 20px;*/
    }
main {
	float: left;
	width: 50%;
	height: 1000px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
    }
aside {
	float: left;
	width: 27%;
	height: 1000px;
	background: #EEDEDA;
	}	
footer {
	height:50px;
	width: 100%;
	background: #EEDEDA;
	clear: both;
	padding-top: 20px;
	margin-top: 20px;
	padding-left: 20px;
	}
}





	
